<a
    href="{{ url_for('adviser.dashboard') }}"
    class="{{ 'active' if request.endpoint == 'adviser.dashboard' }}"
>
    <i class="fa-solid fa-house"></i>
    Dashboard
</a>


<a
    href="{{ url_for('adviser.students') }}"
    class="{{ 'active' if request.endpoint in [
        'adviser.students',
        'adviser.student_details',
        'adviser.hours',
        'adviser.narrative_reports'
    ] }}"
>
    <i class="fa-solid fa-users"></i>
    Assigned Students
</a>


<a
    href="{{ url_for('adviser.internships') }}"
    class="{{ 'active' if request.endpoint in [
        'adviser.internships',
        'adviser.internship_details'
    ] }}"
>
    <i class="fa-solid fa-briefcase"></i>
    Internship Monitoring
</a>


<a
    href="{{ url_for('adviser.reports') }}"
    class="{{ 'active' if request.endpoint in [
        'adviser.reports',
        'adviser.report_details',
        'adviser.view_report_file',
        'adviser.approve_report',
        'adviser.return_report'
    ] }}"
>
    <i class="fa-solid fa-file-lines"></i>
    Weekly Reports
</a>


<a
    href="{{ url_for('adviser.evaluations') }}"
    class="{{ 'active' if request.endpoint in [
        'adviser.evaluations',
        'adviser.create_evaluation',
        'adviser.evaluation_details',
        'adviser.edit_evaluation'
    ] }}"
>
    <i class="fa-solid fa-star"></i>
    Evaluations
</a>


<a
    href="{{ url_for('adviser.certificates') }}"
    class="{{ 'active' if request.endpoint in [
        'adviser.certificates',
        'adviser.certificate_details',
        'adviser.view_certificate',
        'adviser.download_certificate'
    ] }}"
>
    <i class="fa-solid fa-certificate"></i>
    Certificate Readiness
</a>