<a
    href="{{ url_for('student.dashboard') }}"
    class="{{ 'active' if request.endpoint == 'student.dashboard' else '' }}"
>
     Dashboard
</a>


<a
    href="{{ url_for('student.companies') }}"
    class="{{ 'active' if request.endpoint in [
        'student.companies',
        'student.company_details',
        'student.apply'
    ] else '' }}"
>
     Find Internship
</a>


<a
    href="{{ url_for('student.applications') }}"
    class="{{ 'active' if request.endpoint in [
        'student.applications',
        'student.cancel_application'
    ] else '' }}"
>
     My Applications
</a>


<a
    href="{{ url_for('student.hours_tracking') }}"
    class="{{ 'active' if request.endpoint == 'student.hours_tracking' else '' }}"
>
     Hours Tracking
</a>


<a
    href="{{ url_for('student.reports') }}"
    class="{{ 'active' if request.endpoint == 'student.reports' else '' }}"
>
     Report Submission
</a>


<a
    href="{{ url_for('student.evaluation') }}"
    class="{{ 'active' if request.endpoint == 'student.evaluation' else '' }}"
>
     Evaluation
</a>


<a
    href="{{ url_for('student.certificate') }}"
    class="{{ 'active' if request.endpoint == 'student.certificate' else '' }}"
>
     Certificate
</a>


<a
    href="{{ url_for('student.profile') }}"
    class="{{ 'active' if request.endpoint == 'student.profile' else '' }}"
>
     Profile
</a>